/******************************************************/
/***** This is main css of profile_card_component *****/
/******************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 375px;
    font-family: 'Kumbh Sans', sans-serif;
}


p {
    text-align: center;
}


.container {
    position: relative;
    background-color: hsl(185, 75%, 39%);
}

.top {
    height: 50vh;
    background-image: url(../images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-size: 200vw;
    background-position:  right 45vw bottom 0;
    opacity: 0.5;
}

.bottom {
    height: 50vh;
    background-image: url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-size: 200vw;
    background-position: left 45vw top 0;
    opacity: 0.5;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 328px;
    background-color: white;
    border-radius: 20px;
    z-index: 10;
}

.cardTop {
    height: 142px;
    background-image: url(../images/bg-pattern-card.svg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.profilePhoto {
    border: 6px solid white;
    border-radius: 50%;
    position: relative;
    bottom: 55px;
    left: 110px;
    margin-bottom: -55px;
}

.cardMiddle {
    border-bottom: 1px solid hsl(227, 10%, 46%, 0.2);
}


.bold {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    font-size: 18px;
}

.light {
    color: hsl(227, 10%, 46%);
    font-weight: 300;
    font-size: 10px;
}

span.light {
    font-size: 18px;
    margin-left: 5px;
}

#name {
    margin: 20px 0 10px 0; 
}
#location {
    font-size: 14px;
    margin-bottom: 25px;
}

.cardBottom {
    display: flex;
    justify-content: space-evenly;
    margin: 28px 0 25px 0;
}

.cardBottom .bold {
    margin-bottom: 5px;
}

.cardBottom .light {
    letter-spacing: 0.1rem;
}


.attribution {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 10px;
}


@media screen and (min-width: 500px) {

    .top {
        background-size: 120vw;
        background-position:  right 48vw bottom 0;
        
    }
    
    .bottom {
        background-size: 120vw;
        background-position: left 48vw top 0;
    }

}



@media screen and (min-width: 800px) {

    .top {
        background-size: 70vw;
        background-position:  right 50vw bottom 0;
        
    }
    
    .bottom {
        background-size: 70vw;
        background-position: left 50vw top 0;
    }

}
